[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mulgar"]
	path = mulgar
	url = https://github.com/dicook/mulgar
[submodule "nullabor"]
	path = nullabor
	url = https://github.com/dicook/nullabor
